<% provide(:title, @current_post.title) %>

<div class="row">

  <div class="col-md-8">
      <%= form_for(@current_post) do |f| %>
        <%= f.label :content %>
        <%= f.text_field :content, class: 'form-control' %>

        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
