<% provide(:title, @current_post.title) %>

  <div class="row">

    <div class="col-md-8">
      <h3><%= @current_post.title %></h3>
      <%= @current_post.content %>
      <%= render @current_post.comments %>
    </div>
  </div>
