<footer class="footer">
  <small>
    The <em>Reddit on Rails</em> project.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help",    '#' %></li>
    </ul>
  </nav>
</footer>
